<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.sac.mapper.PostMapper">

    <insert id="insert">
        INSERT INTO SAC_POST (user_id, board_id, post_head, post_content)
        VALUES (#{user_id}, #{board_id}, #{post_head}, #{post_content})
    </insert>


    <select id="read" resultType="site.sac.dto.PostDTO">
        SElECT *
        FROM SAC_POST
        WHERE post_id = #{post_id}
    </select>

    <update id="update">
        update SAC_POST
        set post_head=#{post_head},
            post_content=#{post_content},
            updated_date=SYSTIMESTAMP
        where post_id=#{post_id}
    </update>

    <delete id="delete">
        delete SAC_POST where post_id = #{post_id}
    </delete>

    <update id="countUp">
        update SAC_POST
        set post_count = post_count+1
        where post_id=#{post_id}
    </update>

    <update id="likeUp">
        update SAC_POST
        set post_likes = post_likes+1
        where post_id=#{post_id}
    </update>

    <update id="likeDown">
        update SAC_POST
        set post_likes = post_likes-1
        where post_id=#{post_id}
    </update>

    <select id="getAllPost" resultType="site.sac.dto.PostDTO">
            select * from SAC_POST
    </select>

    <select id="getAllPostByUserLikeBoard" resultType="site.sac.dto.PostDTO">
        select * from SAC_POST WHERE board_id IN
        <foreach item="item" collection="list" index="index"  open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getAllPostsByBoardId" resultType="site.sac.dto.PostDTO">
        select * from SAC_POST WHERE board_id = #{board_id}
    </select>

    <select id="getPostsByLike" resultType="site.sac.dto.PostDTO">
        select * from SAC_POST WHERE post_id IN
        <foreach item="item" collection="list" index="index"  open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>