<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.sac.mapper.ReplyMapper">
    <insert id="insert">
        INSERT INTO SAC_REPLY ( post_id, user_id, reply_content)
        VALUES (#{post_id}, #{user_id}, #{reply_content})
    </insert>

    <select id="read" resultType="site.sac.dto.ReplyDTO">
        SELECT * FROM SAC_REPLY WHERE reply_id = #{reply_Id}
    </select>

    <select id="getAllReplyByPostId" resultType="site.sac.dto.ReplyDTO">
        SELECT * FROM SAC_REPLY WHERE post_id = #{post_id}
    </select>

    <select id="getAllReplyByUserId" resultType="site.sac.dto.ReplyDTO">
        SELECT * FROM SAC_REPLY WHERE user_id = #{user_id}
    </select>

    <delete id="delete">
        DELETE FROM SAC_REPLY WHERE reply_id = #{reply_Id}
    </delete>
    <update id="update">
        update SAC_REPLY
        set reply_content=#{reply_content}
        where reply_id=#{reply_id}
    </update>
</mapper>