<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.sac.mapper.TokenMapper">
    <select id="select" resultType="site.sac.dto.TokenDTO">
        SElECT auth_id, user_id, token
        FROM SAC_TOKEN
        WHERE token = #{token}
    </select>

    <insert id="insert">
        INSERT INTO SAC_TOKEN (auth_id, user_id, token)
        VALUES (SEQ_USERS.NEXTVAL, #{user_id}, #{token})
    </insert>

</mapper>