<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.sac.mapper.UsersMapper">
    <insert id="insert">
        INSERT INTO SAC_USERS (user_name, user_image, user_email)
        VALUES (#{user_name}, #{user_image}, #{user_email})
    </insert>

    <select id="select" resultType="Long">
        SElECT user_id
        FROM SAC_USERS
        WHERE user_email = #{user_email}
    </select>
    <select id="usersByEmail" resultType="site.sac.dto.UsersDTO">
        select * from SAC_USERS
        where user_email = #{user_email}
    </select>

    <select id="read" resultType="site.sac.dto.UsersDTO">
        select user_id, user_name, user_image,user_email from sac_users
        where user_id = #{user_id}
    </select>
</mapper>