<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.sac.mapper.UserLikePostMapper">

    <insert id="insert">
        INSERT INTO SAC_USER_LIKE_POST (post_id, user_id)
        VALUES (#{post_id}, #{user_id})
    </insert>

    <delete id="delete">
        DELETE SAC_USER_LIKE_POST WHERE post_id = #{post_id} AND user_id = #{user_id}
    </delete>

    <select id="countByPostId">
        SELECT COUNT(*) FROM SAC_USER_LIKE_POST WHERE post_id = #{post_id}
    </select>

    <select id="getAllByUserId" resultType="ResultMap">
        SELECT sp.post_id,
               sp.board_id,
               sp.post_head,
               sp.post_content,
               sp.created_date,
               sp.updated_date,
               su.user_name,
               su.user_image
        FROM SAC_POST sp
                 LEFT JOIN sac_users su
                           ON sp.user_id = su.user_id
        where sp.post_id = #{post_id}
    </select>


</mapper>